{:deps
 {clj-insim {:local/root "/Users/stanverberkt/stanverberkt/clj-insim"}
  lfs-fetchup {:local/root "/Users/stanverberkt/stanverberkt/lfs-fetchup"}
  org.clojure/core.async {:mvn/version "1.3.610"}}}
